body {
  font-family: sans-serif;
  padding: 30px;
}

input {
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px;
}

li {
  margin: 8px 0;
}



/*矢印で選択*/
#suggest li.selected {
  background: #e0e0e0;
}



/*注意事項*/
.notice {
  font-size: 12px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}


/* 年見出し */
.year-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  list-style: none;
}


/* タブ */
.tabs {
    display: flex;
    flex-wrap: wrap;   /* 折り返す */
    gap: 6px;
    margin-bottom: 15px;
}

.artist-tab {
    padding: 6px 10px;   /* ← 横幅を小さく */
    border: 2px solid #66b3ff;
    background: white;
    color: #66b3ff;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

.artist-tab:hover {
    background: #e8f4ff;
}

.artist-tab.active {
    background: #66b3ff;
    color: white;
    font-weight: bold;
}


/* ライブ名 */
.live-item {
  margin-left: 20px;
}




/*スマホ対応*/
body {
  max-width: 600px;
  margin: auto;
}

input {
  width: 70%;
}

button {
  width: 25%;
}

@media screen and (max-width: 600px) {
  input, button {
    width: 100%;
    margin-top: 10px;
  }
}
